body{
    background-image: url(../images/fondo.jpg);
}

section{
    max-width: 50vw;
    background: rgb(255, 255, 255, 0.6);
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 10%;
    height: 70vh;
}

@media only screen and (max-width:1024px){
    section {
        max-width: 80vw;
        margin-top: 10%;
        margin-bottom: 10%;
        height: fit-content;
        padding-bottom: 30px;
    }
    .tareas {
        margin-left: 12%;
    }
    }
    
    
    @media only screen and (max-width:786px){
    section {
        max-width: 80vw;
        margin-top: 20%;
        margin-bottom: 20%;
        height: fit-content;
        padding-bottom: 30px;
    }
    .tareas {
        margin-left: 8% !important;
    }
    }
    


p {
    max-width: 70%;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    font-family: Raleway;
}

h1 {
    max-width: 70%;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Raleway;
}

h3 {
    max-width: 70%;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Raleway;
}

#btn{
    width: 150px;
    border-radius: 30px;
    background: #7b91a5;
    color: white;
    font-family: 'Raleway';
    font-size: 18px;
    border: 1px solid white;
    padding: 5px 10px 5px 10px;
}

#btn:hover{
    background: #c4b6b6;
}

#btn2{
    display: block;
    width: 200px;
    border-radius: 30px;
    background: #7b91a5;
    color: white;
    font-family: 'Raleway';
    font-size: 18px;
    border: 1px solid white;
    padding: 5px 10px 5px 10px;
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 1%;
}

#btn2:hover{
    background: #c4b6b6;
}



.pantalla1{
text-align: center;
margin: 0 auto;
padding-top: 4%;
padding-bottom: 20%;
}

.imagen1 {
    max-height: 180px;
}

.imagen2 {
    max-height: 150px;
}

.imagen3 {
    height: 100px;
}

.imagen4 {
    height: 150px;
    margin-top:2%;
}

#entrada{
    width: 30%;
    height: 30px;
    border-radius: 30px;
    border: 1px solid #c4b6b6;
    box-shadow: 6px 2px 16px #c4b6b6;
    margin-top: 10px;
    font-family: Raleway;
    line-height: 22px;
    font-size: 16px;
    box-sizing: border-box;
    color:#333333;
    box-sizing: border-box;
    text-align: center;
}

#resultadosuma{
    width: 100px;
    height: 30px;
    border-radius: 30px;
    border: 1px solid #c4b6b6;
    box-shadow: 6px 2px 16px #c4b6b6;
    margin-top: 10px;
    font-family: Raleway;
    line-height: 22px;
    font-size: 16px;
    box-sizing: border-box;
    color:#333333;
    box-sizing: border-box;
    display:block;
    padding-left:10px;
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 2%;
    text-align: center;
}

#resultadosuma:focus {
    outline: none;
    background: #ede5e3;
}

#error {
    color: red;
    font-size: 14px;
}

#entrada:focus {
    outline: none;
    background: #ede5e3;
}

.pantalla2 {
    display: none;
    text-align: center;
    margin: 0 auto;
    padding-top: 5%;
}

.pantalla3{
    display: none;
    text-align: center;
    margin: 0 auto;
    padding-top: 5%;
}

#error{
    display: none;
}

#mostrardiv{
    display: none;
    position:absolute;
    width:20em;
    height:20em;
    background: #fafafa;
    border-radius: 30px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.material-symbols-outlined{
    display: block;
    text-align: right;
    margin: 17px 21px 0px 0px;
    cursor: pointer;
}

.material-symbols-outlined:hover{
    display: block;
    text-align: right;
    margin: 17px 21px 0px 0px;
    cursor: pointer;
    color:#7b91a5;
}

.tareas {
    color: #333333;
    font-family: Raleway;
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    margin-left: 22%;
}

.tareasafter {
    color: #333333;
    font-family: Raleway;
    font-size: 16px;
    line-height: 26px;
    text-align: left;
}

.tachado {
    text-decoration: line-through;
    opacity: .5;
    text-align: left;
}

input[type=checkbox]
{
accent-color: #bcb7bb;
}

#loom-companion-mv3{
    display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

footer {
    background: transparent;
}

.microformatos {
    display:none;
}

footer p{
    font-size: 16px;
    max-width: 95%;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 1%;
    padding-bottom: 1%;
    color:#666666;
}

footer a{
    text-decoration: none;
    color:#666666;
}